.container
  =@mes

  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} 日付
        -#%th{:scope => "col"} A
        %th{:scope => "col"} メニュー
        -#%th{:scope => "col"} B
        -#%th{:scope => "col"} C 麺・パスタ
        -#%th{:scope => "col"} D カレー

    -@menuhash.each do |date,menu|
      -if date == @today
        %tr.table-warning
          %th{:scope => "row"}
            %H4
              =date
            %td
              %H5
                =menu
      -elsif menu =~ /ヘルシー/
        -menu.gsub!(/ヘルシー/,"")
        %tr
          %th{:scope => "row"}
            =date
            %td
              %span.badge.badge-primary ヘルシー
              =menu
      -elsif menu =~ /日/
        %tr.table-dark
          %th{:scope => "row"}
            =date
            %td
              =menu
      -else
        %tr
          %td
            %H4
            =date
          %td
            =menu

        -#%td Column content
        -#%td Column content
        -#%td Column content

  .row
    .col-md-8
      =@succsess
      =@failed
      -#-if @mes == "true"
      -#  .alert.alert-dismissible.alert-success
      -#    %button.close{"data-dismiss" => "alert", :type => "button"} ×
      -#    %strong アップロードに成功しました。
      -#-elsif @mes1 == "false"
      -#  .alert.alert-dismissible.alert-danger
      -#    %button.close{"data-dismiss" => "alert", :type => "button"} ×
      -#    %strong ファイルは既に存在します

    .col-md-4
      %form{:action => "/upload", :enctype => "multipart/form-data", :method => "POST"}
        %input{:name => "file", :type => "file"}/
        %input{:type => "submit"}/

      -#.form-group
      -#  .input-group.mb-3
      -#    .custom-file
      -#      %input#inputGroupFile02.custom-file-input{:type => "file",:accept => "application/pdf"}/
      -#      %label.custom-file-label{:name => "file", :type => "file",:for => "inputGroupFile02"} PDFをアップしてください
      -#    .input-group-append
      -#      %span.input-group-text{:action => "/upload", :enctype => "multipart/form-data", :method => "POST",:id => "/upload"} Upload