!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/pulse/bootstrap.min.css", :integrity => "sha384-/uQFqO50IaQu2rNJYKPpV7zwsWJtd6V4DGX4wMw1ATz4KPuZEV96qQ2heVAw2kr2", :rel => "stylesheet"}/
    -#selectbox func
    :javascript
      $(function() {
        $('select[name=selectlink]').change(function() {
          if ($(this).val() != '') {
            window.location.href = $(this).val();
          }
        });
      });

    %title= @title
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      %a.navbar-brand{:href => "/"}= @title
      %button.navbar-toggler{"aria-controls" => "navbarColor01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor01", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{:href => "/"}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "about"} About
        .form-group

          -#select another month lunchmenu genarate
          -#%select{:class => "custom-select",:name => "selectlink"}
          -#  %option{:selected => "selected"} 他の月のメニュー
          -#  -#-@jsonlist.each_with_index do |num,list|
          -#  %option{:value => "https://gitlab.com/dory-dd/lunchmenuindicator"} gitlab
          -#  %option{:value => "upload"} upload

            -#= @selectbox

    = yield
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"}